/* reset */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.body {
    &--hidden {
        overflow: hidden;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    @include georgia-bold;
}

p {
    margin: 0;
    @include lato-regular;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}