/* global */

// background, border
$brend-color: #01996D;

// font
$brend-font: #01996D;
$black-font: #000000;
$main-font: #424242;
$light-font: #FFFFFF;


// shadow, gradient

/* header */
$header-nav-font: #292929;



