/* global */

// background, border
$brend-color: #01996d;
$white-back: #ffffff;
$section-back: #245852;
// font
$brend-font: #01996d;
$black-font: #000000;
$main-font: #424242;
$light-font: #ffffff;
// shadow, gradient

/* header */

$header-border: #d6d6d6;
$header-nav-font: #292929;
